# Gauge - metadata dir
.gauge

# Gauge - log files dir
logs

# Gauge - reports dir
reports

# Gauge - JavaScript node dependencies
node_modules


# File system stuff
.DS_Store

# IDEs and tools
.idea
.vscode
*.code-workspace

